.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    padding: 0 200px;
    box-sizing: border-box;
    
}

.box {
    padding: 20px;  /* Reducido el padding */
    margin-top: 200px; /* Margen superior ajustado */
    margin-right: 170px; /* Margen derecho ajustado */
    flex: 0 1 200px; /* Tamaño base del cuadro cambiado a 200px */
    background-color: #ffffff;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(81, 203, 217);
}

.box:first-child {
    margin-left: 0;
}

.box:last-child {
    margin-right: 0;
}
.navbar {
    background-color: #112f48;
    color: #fff;
    padding: 20px;
}
.azul-bajito {
    background-color: #51CBD9;
    padding: 20px;
}
.navbar-brand {
    font-weight: bold;
    font-size: 1.25rem;
}
.navbar-text {
    font-size: 0.9rem;
}
.sidebar {
    padding: 95px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.sidebar .btn {
    background-color: #112f48;
    color: #fff;
    font-size: 0.9rem;
    padding: 8px 12px;
    margin-bottom: 0px;
    border-radius: 6px;
}
.sidebar .btn:hover {
    background-color: #0d263a;
}